<div class="card h-100">
  <!-- Clinic Image -->
  <img src="https://images1-fabric.practo.com/practices/682794/pet-s-heaven-pet-clinic-pune-601968fd6f9dc.jpg" class="card-img-top" alt="Clinic Image">
  <div class="card-body">
    <!-- Clinic Information -->
    <h5 class="card-title"><%= clinic.company_name %></h5>
    <p class="card-text"><%= clinic.address %></p>
  </div>
</div>
