
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkgreen-text: #243119;
$cream-background: #FFFDD0;
$lightgreen: #D8F3DC;
$orange-btn: #FF9770;
$blue-btn: #86BBD8;
$green-btn: #40916C;


