<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">

    <p>
      This project was crafted with <i class="fas fa-heart"></i> during Le Wagon's Bootcamp! <br>
      Petfolio – Connect with trusted professionals and ensure the best care for your furry companions.
    </p>

  </div>
</div>
