<div class="record-box">
  <p class="record-date">Record issued on <%= record.created_at.to_date %> by <%= record.appointment.vet.fullname %>:</p>
  <p class="record-content"><%= record.content %></p>
</div>
