<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=2572&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container-md">
    <h1>Welcome to <span class="logo-text">PetFolio</span> – Your Ultimate Pet Care Network!</h1>
    <p>Every pet deserves the best. Sign up today and be a part of a community that puts pets first!</p>
    <a class="btn btn-warning text-white" href="/users/sign_in"><strong>Join us!</strong></a>
  </div>
</div>


<div class="section-paws" style="background-image: linear-gradient(rgba(254, 250, 224, 0.92),rgba(254, 250, 224, 0.92)), url(https://img.freepik.com/free-vector/cute-colorful-kitten-pow-pattern-design_1017-14710.jpg?t=st=1710179206~exp=1710182806~hmac=615184e1ebb3cef0c25c32b46b528ede858ae2536dd35b8702eaed0f5efdb823&w=1380);">
  <div class="container-md">
    <div class="row py-4">
      <h2 class="text-center py-4"><strong>What is PetFolio?</strong></h2>
      <p class="py-4">PetFolio is an innovative app designed to be a comprehensive digital platform for pet care. It allows pet owners to create profiles for their pets, connect with service providers, and access medical records. Additionally, it offers a review system for clinics and veterinarians, fostering a trusted community of pet care professionals and enthusiasts.</p>
    </div>
    <div class="row py-4 justify-content-center">
      <div class="dotted-card col-10 col-md-4 col-lg-4 mb-4">
        <h3 class="text-center py-4"><i class="fa-solid fa-paw"></i> For Pet Owners</h3>
        <p class="text-center px-4">Create a profile for your beloved pet and connect with a vibrant community of pet lovers. Keep track of your furry friend’s adventures, share their milestones, and discover an array of services tailored to meet their needs.</p>
      </div>
      <div class="dotted-card col-10 col-md-4 col-lg-4 mb-4">
        <h3 class="text-center py-4"><i class="fa-solid fa-user-doctor"></i> For Clinics and Vets</h3>
        <p class="text-center px-4">Join PetFolio to manage pet health records efficiently and to receive feedback from pet owners. Your commitment to quality care will be reflected in your reviews, helping you to build trust within the community.</p>
      </div>
    </div>
  </div>


  <div class="section-testimonials my-4 py-4">
    <div class="container-md my-4">
      <div class="row py-4 justify-content-center">
        <h2 class="text-center mb-4">Testimonials</h2>
        <div class="testimonial-card col-8 col-md-3 col-lg-3 mb-4">
          <p class="testimonial-title"><i class="fa-solid fa-quote-left"></i> A Joyful Journey with PetFolio!</p>
          <p class="testimonial-text">Creating a profile for my pet was a breeze, and the services we’ve discovered have been top-notch. A heartfelt thanks to PetFolio for making pet care so accessible!</p>
          <div class="testimonial-user d-flex flex-row">
            <div class="user-img-circle text-center">
              <i class="fa-regular fa-user"></i>
            </div>
            <div class="user-text">
              <p>Mona Maria</p>
              <p class="mt-1"><em>Pet Owner</em></p>
            </div>
          </div>
        </div>
        <div class="testimonial-card col-8 col-md-3 col-lg-3 mb-4">
          <p class="testimonial-title"><i class="fa-solid fa-quote-left"></i> Tailored Care for My Cat!</p>
          <p class="testimonial-text">PetFolio connected me with a vet who gets my cat’s needs. It’s been a wonderful experience with reliable care and genuine support.</p>
          <div class="testimonial-user d-flex flex-row">
            <div class="user-img-circle text-center">
              <i class="fa-regular fa-user"></i>
            </div>
            <div class="user-text">
              <p>Adamastor Fernandez</p>
              <p class="mt-1"><em>Pet Owner</em></p>
            </div>
          </div>
        </div>
        <div class="testimonial-card col-8 col-md-3 col-lg-3 mb-4">
          <p class="testimonial-title"><i class="fa-solid fa-quote-left"></i> Paws & Claws Loves PetFolio!</p>
          <p class="testimonial-text">PetFolio has simplified our clinic’s operations and brought us closer to the pet community. The positive feedback has been a testament to our dedicated care.</p>
          <div class="testimonial-user d-flex flex-row">
            <div class="user-img-circle text-center">
              <i class="fa-regular fa-building"></i>
            </div>
            <div class="user-text">
              <p>Paws & Claws</p>
              <p class="mt-1"><em>Clinic</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This project was made with <i class="fas fa-heart"></i> for Le Wagon's Bootcamp!
  </div>
</div>
