.btn.btn-primary {
  color: $darkgreen-text;

    a{
    color: $darkgreen-text;
  }
}

.btn.btn-warning {
  color: $darkgreen-text;

    a{
    color: $darkgreen-text;
  }
}

.btn.btn-success {
  color: $lightgreen;

  a{
    color: $lightgreen;
  }

}
