.btn.btn-primary {
  color: $darkgreen-text;
  border-radius: 5px;

    a{
    color: $darkgreen-text;
  }
}

.btn.btn-warning {
  color: $darkgreen-text;
  border-radius: 5px;

    a{
    color: $darkgreen-text;
  }
}

.btn.btn-success {
  color: $lightgreen;
  border-radius: 5px;

  a{
    color: $lightgreen;
  }

}

.btn-tutor {
  width: 50%;
  align-self: center;
  border-radius: 5px;
}
