.btn {
  border-radius: 5px;
}

.btn.btn-primary {
  color: $darkgreen-text;

    a{
    color: $darkgreen-text;
  }
}

.btn.btn-warning {

  color: white;
    a{
    color: white;
  }
}

.btn.btn-success {
  color: $lightgreen;
  a{
    color: $lightgreen;
  }

}

.btn-tutor {
  width: 50%;
  align-self: center;
}
