
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}


.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  // &:hover{
  //   background: $lightgreen;
  //   box-shadow: none;
  // }
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  color: $darkgreen-text;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

#clinic-card{

  ul{
    list-style:none;
  }

  .img-thumbnail{
    height: 100%;
    width: 150px;
    object-fit: cover;
  }

}

#vet-card{
  align-items: center;
  display: flex;
  justify-content: start;
  padding:20px;
  min-height: 150px;
  min-width: 180px;

  #vet-info{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* position: relative; */
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    min-height: 100px;
    width: 80%;
    align-items: center;
  }

  // .img-vet{
  //   height: 150px;
  //   width: fit-content;
  //   display: flex;

  // }

}

#apo-card{
  text-align: center;
  padding: 10px;
  font-size: 24px;

  h2{
    line-height: 22px;
    font-size: 18px;
  }

  #apo-info{
    font-size: 16px;
    text-align: start;
    padding: 16px;
  }

}

.profile-rounded {
  height: 100px;
  width: 100px;
}


.vet-card  {
    display: flex;
    gap: 15px;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-card {
  display: flex;
  align-items: end;
}

.img-card {
  border-radius: 8px;
}

.card-product {
  margin-left: 25px;
}

.card-appointments {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-appo-text {
  margin-bottom: 28px;
}
