.footer {
  width: 100%;
  min-height: 80px;
  height:48px;
  bottom: 40px;
  left: 0;
  margin-top: 40px;

  .footer-copyright{
    color: $darkgreen-text;
    font-size: 0.8rem;
  }

  i {
    color: $darkgreen-text;
  }

}
